node_modules
.next
.git
.vscode
*.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
docker-compose.yml
Dockerfile

# Non-essential code
docs/
**/*.test.ts
**/*.test.tsx
**/*.spec.ts
**/*.spec.tsx
.next/cache
